<!-- <div class="g-recaptcha" ng-model="g-recaptcha-response" data-sitekey="6LdK3p0cAAAAAPJiFqJqRmFMB3vNfl3QsDv7Hr0i"></div> -->

<!-- <div class="form-group no-margin">
    <button class="g-recaptcha" data-sitekey="6LdK3p0cAAAAAPJiFqJqRmFMB3vNfl3QsDv7Hr0i" data-callback='onSubmit'>Submit</button>

    <div class="g-recaptcha" ng-model="g-recaptcha-response" data-sitekey="6LdK3p0cAAAAAPJiFqJqRmFMB3vNfl3QsDv7Hr0i"></div>
    <button (click)="onSubmit()" class="btn btn-primary btn-block">Login</button>
   </div> -->